body {
    height: auto;
    max-height: 600px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px 0px 12px 0px;
    padding: 0;
    background-color: #eeeeee;
}

#main {
    padding: 12px 8px;
}

h1 {
    font-size: 2em;
}

.product {
    font-size: 1.05em;
    font-weight: bold;
    margin: 0 6px;
    color: #5d6063;
}

.card {
    border: 1px solid #c4c7ca;
    border-bottom: 2px solid #a2a5a8;
    border-radius: 2px;
    background-color: #fff;
    width: 99%;
    height: 90px;
    display: inline-block;
    margin-top: 12px;
}

.card-content {
    padding: 4px;
}

.card-content > .swatch {
    min-width: inherit;
    min-height: 55px;
    display: inline-block;
}

.card-content > .swatch {
    content: "";
    width: 100%;
    height: 100%;
}

.card-footer {
    padding: 4px;
    font-size: 0.8em;
    line-height: 1.1em;
    color: #5c5c5c;
    font-weight: bold;
}

.header {
    height: 30px;
    width: 100%;
    min-width: 100%;
    border-bottom: 1px solid #c4c7ca;
    padding: 6px 0px 4px 4px;
    background-color: #e6e6e6;
}