<!doctype html>
<html ng-app="colourSpy" ng-csp>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bg.css"/>
    <link rel="stylesheet" href="../css/csp.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
  </head>

  <body ng-controller="MainCtrl">
    <div class="header">
      <p class="product">colourSpy</p>
    </div>

    <div id="main" ng-show="colours">

      <div class="btn-group btn-group-sm" data-toggle="buttons">
        <label class="btn btn-default btn-sm" ng-class="{'active': mode == 'rgb'}" ng-click="mode = 'rgb'">
          <input type="radio" name="mode" id="rgb" value="rgb"> RGB
        </label>
        <label class="btn btn-default btn-sm" ng-class="{'active': mode == 'hex'}" ng-click="mode = 'hex'">
          <input type="radio" name="mode" id="hex" value="hex"> HEX
        </label>
        <label class="btn btn-default btn-sm" ng-class="{'active': mode == 'hsl'}" ng-click="mode = 'hsl'">
          <input type="radio" name="mode" id="hsl" value="hsl"> HSL
        </label>
      </div>

      <div class="btn-group btn-group-sm pull-right" style="margin-right: 4px;">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-share-square-o fa-fw"></i> Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" ng-click="export('css')">CSS</a></li>
          <li><a href="#" ng-click="export('scss')">SCSS</a></li>
          <li><a href="#" ng-click="export('less')">LESS</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="export('plain')">Plain Text</a></li>
          <li><a href="#" ng-click="export('json')">JSON</a></li>
        </ul>
      </div>

      <div class="card" ng-repeat="colour in colours | orderBy:'hex'">
        <div class="card-content">
          <span class="swatch" style="background-color: {{colour.rgb}}; border-bottom: 6px solid {{colour.borderColour}}">&nbsp;</span>
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col-lg-3 pull-left">
                <h4>{{colour[mode]}}</h4>
                <h5>{{mode}}</h5>
              </div>

              <div class="col-lg-2 pull-right">
                <button class="btn btn-remove btn-xs pull-right" title="Remove this swatch" ng-click="remove(colour)"><i class="fa fa-trash-o fa-fw"></i></button>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div style="text-align: center"><img src="../../icons/icon64.png" alt="colourSpy"/></div>

    <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="../../js/FileSaver.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/angular/angular.min.js"></script>
    <script type="text/javascript" src="../js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/popup.js"></script>
    <script type="text/javascript" src="/js/color/color-0.7.1.min.js"></script>
  </body>
</html>